@import "tailwindcss";

/* Ocultar las flechas de los inputs numéricos en Chrome, Safari, Edge y Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Ocultar las flechas de los inputs numéricos en Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}